<main>
  <form action="submit.php" [class]="bordered.options[bordered.active]">
    <section>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" placeholder="Enter your name:"
        [value]="defaultName">
    </section>
    <section>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password">
    </section>
    <section>
      <label for="age">Age: </label>
      <input type="number" id="age" name="age">
    </section>
    <button type="submit">Submit Form</button>
  </form>
  <button (click)="toggleBorders()">Toggle Borders</button>
</main>